.btn-cart{
    background-color: rgb(30, 144, 255);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.text-cart{
    font-size: 22px;
}


.btn-cart:hover{
    background-color: rgba(4, 108, 211, 0.877) ;
    color: rgba(238, 235, 235, 0.911)
}

@media (max-width: 600px) {
    .text-cart {
        font-size: 16px;
    }
}





