.widget-container{
    margin-top: 0.7em;
    margin-right: 1em;
    position:relative;
}

.widget-number{
    position: absolute;
    top: 0.25em;
    right: -0.65em;
    cursor:default;
}
