.app {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


@media (max-width: 600px) {

  .notFound-img{
    width: 300px;
    height: 200px;
  }
}
